@* Views/Admin/Index.cshtml *@
<h4>Admin Dashboard</h4>
<p>  <a href="/Admin/Create" class="btn btn-sm btn-primary">Add Hotel</a></p>
<table class="table">
    <thead><tr><th>Name</th><th>Country</th><th>Price</th><th>Processes</th></tr></thead>
    <tbody>
        @* foreach hotels *@
    </tbody>
</table>
