html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
:root {
    --navy: #0b2b4a; /* كحلي */
    --beige: #f5efe6; /* خلفية بيج فاتح */
}

body {
    background: var(--beige);
    color: var(--navy);
    font-family: "Arial", sans-serif;
}

.card.hotel-card {
    border-radius: 12px;
}

.navbar-brand span {
    color: var(--navy);
}

.btn-primary {
    background: var(--navy);
    border-color: var(--navy);
}

.btn-outline-secondary {
    color: var(--navy);
    border-color: var(--navy);
}