<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Booking</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        .navbar-fixed {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 50;
            background-color: rgba(255, 252, 240, 0.7); /* نفس لون خلفية اللوجو */
            backdrop-filter: blur(16px);
        }

        .nav-link {
            color: #003459; /* نفس لون نص اللوجو */
        }

            .nav-link:hover {
                color: #00b6ad; /* لون أصفر قريب من الخط المنحني في اللوجو */
            }
    </style>
</head>
<body>
    <!-- pt-24 علشان الناف بار ثابت وما يغطيش المحتوى -->
    <!-- Navigation -->
    <nav class="navbar-fixed px-8 py-2 flex justify-between items-center shadow-md">
        <!-- Logo -->
        <a href="/">
            <img src="/images/ex-photo.png" alt="Explorevia Logo" class="h-[60px] w-[200px]">
        </a>

        <!-- Menu -->
        <ul class="flex gap-8 text-lg font-medium">
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/Explore" class="nav-link">Explore</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <span class="nav-link">Hello, @User.Identity.Name</span>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a href="/Admin/Dashboard" class="nav-link">Admin Dashboard</a>
                    </li>
                }
            }
            else
            {
                <li class="nav-item"><a href="/Account/Login" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="/Account/RegisterUser" class="nav-link">Register</a></li>
            }

            <li><a href="/Contact" class="nav-link">Contact Us</a></li>
        </ul>
    </nav>

</body>
</html>
