@* Views/Shared/_Navbar.cshtml *@
<nav class="navbar navbar-expand-lg navbar-light bg-transparent py-3">
<div class="container">
<a class="navbar-brand d-flex align-items-center" href="/">
<img src="/images/logo.png" alt="ExploreVia" style="height:40px;" />
<span class="ms-2" style="color:#0b2b4a; font-weight:700;">ExploreVia</span>
</a>


<div class="collapse navbar-collapse">
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
<li class="nav-item"><a class="nav-link" href="/">الرئيسية</a></li>
<li class="nav-item"><a class="nav-link" href="/Home/About">عن الموقع</a></li>
<li class="nav-item"><a class="nav-link" href="/Home/Contact">تواصل معنا</a></li>
</ul>


<ul class="navbar-nav ms-auto">
<li class="nav-item"><a class="nav-link" href="/Account/Login">تسجيل الدخول</a></li>
<li class="nav-item"><a class="nav-link" href="/Account/Register">انشاء حساب</a></li>
<li class="nav-item"><a class="btn btn-outline-primary" href="/Owner/UploadDocs">اضف فندق</a></li>
</ul>
</div>
</div>
</nav>