@* Views/Home/Book.cshtml *@
@model dynamic


<h4>Boking Details</h4>
<form method="post" action="/Booking/Create">
    <input type="hidden" name="hotelId" value="@Model.Id" />
    <div class="mb-2"><label>Name</label><input name="Name" class="form-control" required /></div>
    <div class="mb-2"><label>Phone</label><input name="Phone" class="form-control" required /></div>
    <div class="mb-2 row">
        <div class="col"><label>Arrival date</label><input type="date" name="CheckIn" class="form-control" required /></div>
        <div class="col"><label>Leaving date</label><input type="date" name="CheckOut" class="form-control" required /></div>
    </div>
    <button class="btn btn-success mt-2" type="submit">Confirm Book</button>
</form>