<nav class="navbar-fixed px-8 py-2 flex justify-between items-center shadow-md bg-[#fffcf0]/70 backdrop-blur-md">
    <!-- Logo -->
    <a href="/">
        <img src="/images/ex-photo.png" alt="Explorevia Logo" class="h-[60px] w-[200px]">
    </a>

    <!-- Menu -->
    <ul class="flex gap-8 text-lg font-medium">
        <li><a href="/" class="nav-link text-[#003459] hover:text-[#00b6ad]">Home</a></li>
        <li><a href="/Explore" class="nav-link text-[#003459] hover:text-[#00b6ad]">Explore</a></li>
        <li><a href="/Account/Login" class="nav-link text-[#003459] hover:text-[#00b6ad]">Login</a></li>
        <li><a href="/Account/Register" class="nav-link text-[#003459] hover:text-[#00b6ad]">Register</a></li>
        <li><a href="/Account/Logout" class="nav-link text-[#003459] hover:text-[#00b6ad]">Logout</a></li>
        <li><a href="/Contact" class="nav-link text-[#003459] hover:text-[#00b6ad]">Contact Us</a></li>
    </ul>
</nav>
