@* Views/Owner/UploadDocs.cshtml *@
<form method="post" action="/Owner/Submit" enctype="multipart/form-data">
    <div class="mb-2"><label>Hotel Name: </label><input name="HotelName" class="form-control" required /></div>
    <div class="mb-2"><label>Country</label><input name="Governorate" class="form-control" required /></div>
    <div class="mb-2"><label> Hotel Pictures</label><input type="file" name="Images" multiple class="form-control" /></div>
    <div class="mb-2"><label>Evidence docs</label><input type="file" name="Docs" class="form-control" /></div>
    <button class="btn btn-primary">Send</button>
</form>