@* Views/Account/Login.cshtml *@
<form method="post" action="/Account/Login">
    <div class="mb-2"><label>Email</label><input name="Email" class="form-control" required /></div>
    <div class="mb-2"><label>password</label><input type="password" name="Password" class="form-control" required /></div>
    <button class="btn btn-primary">Login</button>
</form>
