@* Views/Account/Register.cshtml *@
<form method="post" action="/Account/Register">
    <div class="mb-2"><label>Name</label><input name="Name" class="form-control" required /></div>
    <div class="mb-2"><label> Email</label><input name="Email" class="form-control" required /></div>
    <div class="mb-2"><label>Password </label><input type="password" name="Password" class="form-control" required /></div>
    <button class="btn btn-success"> Create Account</button>
</form>
